.textebande{
    text-align:center;
    font-size:50px;
    color:white;
}
.bande{

    height: 100px;
    line-height: 100px;
    white-space: nowrap;
}

#couleur {
    height:100px;
    background-color:SaddleBrown ;
}
footer{
    Background-color: SaddleBrown;
    clear:both;
    bottom: 0;
    left: 0;
    right: 0;
    height : 40px;
    text-align: center;
    position: absolute;
    color:white;
    font-size:18px;
	margin-top:50px;
}
h1{
    text-align:center;
    color: SaddleBrown;
}
h2 {
    text-align:center;

}

.connexion{
    border-collapse:collapse;
    border:solid;
    border-width: 1px;
    border-radius : 5px;
    box-shadow: 5px 5px 30px 1px #000000;
    border-color: #ff8000;
    height:200px;
    margin:15px;
    margin-right:40%;
    margin-left:40%;
    padding:8px;
    background-color: SteelBlue;
    position : relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    line-height: 1;
    z-index:999999;

}

.inscription {
    font-family: 'Open Sans', sans-serif;
    box-shadow: 5px 5px 30px 1px #000000;
    border-radius : 8px;
    border-collapse:collapse;
    overflow: hidden;
    border:solid;
    border-width: 1px;
    border-color:gray;
    padding:30px;


    margin:100px;
    margin-left : 35%;
    margin-right : 35%;
    text-align:center;
    background-color: SaddleBrown;

    font-size: 90%;
}

.firstcolumn
{
    text-align : left;
    width : 40%;
    padding-top : 10px;
    padding-bottom : 10px;
}

.secondcolumn
{
    text-align : left;
    width : 1%;

}

.thirdcolumn
{
    width : 30%;
    text-align : left;
    padding-left : 4%;
}



.bonjour{

    border-collapse:collapse;
    border: 1px solid Brown;
    float:right;
	border-width: 3px;
	padding : 5px;
    width: 13%;

    border-radius : 5px;

    text-align:center;
    margin-right:100px;
    margin-top: 40px;
    font-size: 90%;
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
    position: relative;

}
#button{
	background-color: black;
}

.regles{
	text-align:center;
    font-size:20px;
    
	
}
h3{
	font-weight : bold;
}




