body
{
overflow-y: hidden;
overflow-x: hidden;
background-color:
#98AEAB;
}

img{
height:400px;

}

.haut{
height:50px;


}
.jeu{
height:700px;
    margin-left: 300px;

}

.tchat_countainer
{
height:220px;

background-color:black;
border-radius: 20px;

}

.tchat
{
height:180px;

background-color:#A3C7D4;
border-radius: 19px;
margin-top: 10px;
padding-bottom: 20px;
}


.bas{
height:50px;


}

.image{
height:600px;


}

.marge{
height: 100px;
}

.marge2{
margin-bottom:200px;
height: 100px;
}

.plateau{
height: 400px;
}

.bord{

}

.verdun{

}


.bataille
{
padding-left:145px;

}

.round{
    position: absolute;
    margin-top: -50px;
    left: 335px;
    font-weight: bold;
    font-size: 40px;
}

.zgrimbroumbra
{
    padding-top:50px;

    padding-left:165px;
    height:350px;
}

.victoire{

    color: black;
    z-index: 10;
    position: absolute;
    margin-left: -475px;
    margin-right: auto;

    width: 100%;
    font-weight: bold;
    font-size: 100px;

}

.soldatR{
    left: 50px;
}

.p2{
    margin-left: 1100px;
    margin-top: -95px;

}

.SoldatsEnv{
    color: white;
    position: relative;
    font-size: 30px;
}

.attente{
    position: absolute;
    left: 235px;
}
.fight{
    left: 300px;
}

.error{
    position: absolute;
    bottom: 40px;
}

.dec{
    left: 180px;
    margin-left: 170px;
}

.bleu1{
padding-top:100px;

padding-left:250px;
height:300px;

}

.bleu2{
padding-top:100px;

padding-left:310px;
height:300px;

}

.bleu3{
padding-top:100px;

padding-left:370px;
height:300px;

}

.rouge1{
padding-top:100px;

padding-left:430px;
height:300px;
}

.rouge2{
padding-top:100px;

padding-left:490px;
height:300px;
}

.rouge3{
padding-top:100px;

padding-left:550px;
height:300px;
}

.rouuge
{
padding-top:50px;
padding-left:610px;
height:350px;
}
.cercle {
	float: left;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: white;
    border:2px solid black;
	margin-left: 10px;
}

.cercle2 {
	float: right;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: white;
    border:2px solid black;
	margin-right: 10px;
}

.pointsJ2{
    margin-right: 350px;
}
.cercle_vert{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: green;
    border:2px solid black;
    margin-top:-2px;
    margin-left:-2px;
}

.cercle_rouge{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: red;
    border:2px solid black;
    margin-top:-2px;
    margin-left:-2px;
}
.cercle_jaune{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: yellow;
    border:2px solid black;
    margin-top:-2px;
    margin-left:-2px;
}

.btn{
	margin:10px;

}

.btn2{

   border-radius: 30px;
   position: absolute;
   margin-top:27px;
   margin-left:-15px;

}
.placement{
float: left;
   margin-top:32px;

}

.gagner{
	margin-top: -20px;
}

.test{
position:absolute;
z-index:6;
margin-top: 350px;
}

.test2{

position:absolute;
z-index:6;
margin-top: 350px;
margin-left: 450px;
}

.soldats_gauche{
position:absolute;
z-index:8;
margin: 300px 0px 0px 375px;

}


.soldats_droite{
position:absolute;
z-index:8;
margin: 300px 0px 0px 435px;
}

.epee1{
height: 50px;
margin-left:220px;
margin-top:175px;
}
.epee2{
height: 50px;
margin-left:280px;
margin-top:175px;
}
.epee3{
height: 50px;
margin-left:340px;
margin-top:175px;
}
.epee4{
height: 50px;
margin-left:400px;
margin-top:175px;
}
.epee5{
height: 50px;
margin-left:460px;
margin-top:175px;
}
.epee6{
height: 50px;
margin-left:520px;
margin-top:175px;
}
.epee7{
height: 50px;
margin-left:580px;
margin-top:175px;
}
