body
{
height:100%;
width:100%;
overflow-y: hidden;
overflow-x: hidden;
background-color:
#98AEAB;
}

img{
height:400px;

}

.haut{
height:10%;


}
.jeu{
height:80%;


}

.tchat_countainer
{
height:220px;

background-color:black;
border-radius: 20px;

}

.tchat
{
height:195px;

background-color:#A3C7D4;
border-radius: 19px;
margin-top: 10px;
padding-bottom: 20px;
}


.bas{
height:10%;


}

.image{
height:600px;


}

.marge{
height: 100px;
}

.marge2{
margin-bottom:200px;
height: 100px;
}

.plateau{
height: 400px;
}

.bord{

}

.verdun{

}

.bataille
{
padding-left:14.7%;
width:73%;
}

.zgrimbroumbra
{
padding-top:5%;
padding-bottom:5%;
padding-left:17%;
width:25%;



}

.bleu1{
padding-top:10%;
padding-bottom:10%;
width:31.2%;
padding-left:25.75%;

}

.bleu2{
padding-top:10%;
padding-bottom:10%;
padding-left:32%;
width:37.5%

}

.bleu3{
padding-top:10%;
padding-bottom:10%;
padding-left:38.25%;
width:43.7%;

}

.rouge1{
padding-top:10%;
padding-bottom:10%;
padding-left:44.5%;
width:49.9%
}

.rouge2{
padding-top:10%;
padding-bottom:10%;
padding-left:50.75%;
width:56.1%
}

.rouge3{
padding-top:10%;
padding-bottom:10%;
padding-left:57%;
width:62.3%
}

.rouuge
{
padding-top:5%;
padding-bottom:5%;
padding-left:63.25%;
width:71%;
}
.cercle {
	float: left;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: white;
    border:2px solid black;
	margin-left: 1.5%;
}

.cercle2 {
	float: right;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: white;
    border:2px solid black;
	margin-right: 1.5%;
}

.cercle_vert{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: green;
    border:2px solid black;
    margin-top:-2px;
    margin-left:-2px;
}

.cercle_rouge{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: red;
    border:2px solid black;
    margin-top:-2px;
    margin-left:-2px;
}
.cercle_jaune{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: yellow;
    border:2px solid black;
    margin-top:-2px;
    margin-left:-2px;
}

.btn{
	margin:10px;
	
}

.btn_gauche{
	margin:0% 0% 10% 110%;
	position: absolute;
}

.btn_droite{
	margin:0% 0% 10% 90%;
	position: absolute;
}

.form_gauche{
	position: absolute;
}

.form_droite{
	position: absolute;
	margin-left: -20%;
	
}

.btn2{

   border-radius: 30px;
   position: absolute;
   margin-top:27px;
   margin-left:-15px;

}
.placement{
float: left;
   margin-top:32px;

}

.gagner{
	margin-top: -20px;

}

.test{
position:absolute;
z-index:6;
margin-top: 40.5%;
margin-left: -2.4%;

}

.test2{

position:absolute;
z-index:6;
margin-top: 40.5%;
margin-left: 43.6%;
}

.soldats_gauche{
position:absolute;
z-index:8;


}

.soldats_droite{
position:absolute;
z-index:8;

}



.epee0{
height: 50px;
margin-left:22.6%;
margin-top:21%;
}
.epee1{
height: 50px;
margin-left:28.75%;
margin-top:21%;
}
.epee2{
height: 50px;
margin-left:34.9%;
margin-top:21%;
}
.epee3{
height: 50px;
margin-left:41.2%;
margin-top:21%;
}
.epee4{
height: 50px;
margin-left:47.4%;
margin-top:21%;
}
.epee5{
height: 50px;
margin-left:53.6%;
margin-top:21%;
}
.epee6{
height: 50px;
margin-left:59.8%;
margin-top:21%;
}

.affichage_front0{
margin-left: 20%;
margin-top: 36.3%;
}
.affichage_front1{
margin-left: 26.1%;
margin-top:36.3%;
}
.affichage_front2{
margin-left:32.2%;
margin-top:36.3%;
}
.affichage_front3{
margin-left:38.3%;
margin-top:36.3%;
}
.affichage_front4{
margin-left:44.5%;
margin-top:36.3%;
}
.affichage_front5{
margin-left:50.6%;
margin-top:36.3%;
}
.affichage_front6{
margin-left:56.8%;
margin-top:36.3%;
}
.affichage_front7{
margin-left:62.9%;
margin-top:36.3%;
}

.placement{

float: left;

}

.tchat_countainer{
margin-top: 100px;
}


